@page "/intro"

<PageTitle>Introduction</PageTitle>

<div>
  <h1>Dashboard</h1>
  <p>Welcome to <strong>YOUR</strong> Dashboard!</p>
  <p>You can mess around with it, check the weather, count and more features are coming soon!</p>
</div>